/* VARIABLES DE COLORES */
:root {
    --bg-welcome-color: #FFF;
    --title-color-1: #262C5B;
    --title-color-2: #404CAC;

    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

/* :::Welcomwe Page Styles::: */

/* :::: Header :::: */

/* :::: Grid :::: */
.title-inicio{
    margin: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-inicio div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--title-color-1);
    padding: 1%;
    width: 300px;
    border-radius: 150px;
}

.title-inicio div h4{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.title-inicio div p{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}

/* ::::: GRIDS ::::: */

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.parent div{
    border-radius: 15px;
}

.carrusel-1-grid {
    grid-area: 1 / 1 / 3 / 5;
    width: 100%;
    height: 100%;
}


.carrusel-2-grid {
    grid-area: 1 / 5 / 3 / 7;
    background-color: blue;
    width: 100%;
    height: 100%;
}

.carrusel-3-grid {
    grid-area: 1 / 7 / 3 / 9;
    background-color: green ;
    width: 100%;
    height: 100%;
}

.carrusel-4-grid {
    grid-area: 3 / 1 / 4 / 2;
    background-color: saddlebrown;
    width: 100%;
    height: 100%;
}

.carrusel-5-grid {
    grid-area: 3 / 2 / 4 / 3;
    background-color: darkgoldenrod;
    width: 100%;
    height: 100%;
}

.carrusel-6-grid {
    grid-area: 4 / 1 / 5 / 2;
    background-color: darkkhaki;
    width: 100%;
    height: 100%;
}

.carrusel-7-grid {
    grid-area: 4 / 2 / 5 / 3;
    background-color: violet;
    width: 100%;
    height: 50px;
}

.carrusel-8-grid {
    grid-area: 3 / 3 / 5 / 5;
    background-color: firebrick;
    width: 100%;
    height: 100%;
}

.carrusel-9-grid {
    grid-area: 5 / 1 / 6 / 5;
    background-color: green;
    width: 100%;
    height: 100%;
}
.carrusel-10-grid {
    grid-area: 3 / 5 / 6 / 9;
    background-color: darkorange;
    width: 100%;
    height: 100%;
}




.bg-welcome-color {
    background-color: var(--bg-welcome-color) !important;
}

.title-color-1 {
    color: var(--title-color-1) !important;
    font-weight: 600;
}


.title-color-2 {
    color: var(--title-color-2) !important;
    font-weight: 600;
}

.danger-color{
    background-color: var(--danger-color) !important;
}



/* ESTILOS DE CAJAS */

.title-style{
    margin: 5% 0;
}
